# If You Are Using PyCharm
# User-Specific Stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# JIRA Plugin
atlassian-ide-plugin.xml

# Installer Logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Pyenv 
.python-version 

# Celery 
celerybeat-schedule.* 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/
Pipfile
Pipfile.lock
__pycache__

# MyPy 
.mypy_cache/ 

# Visual Studio Code # 
.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Database
db.sqlite3